version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'sunday'
    labels:
      - 'dependencies'
      - 'internal'
    groups:
      security:
        patterns:
          - '*'
        applies-to: security-updates
        update-types:
          - 'patch'
          - 'minor'
          - 'major'
      version:
        patterns:
          - '*'
        applies-to: version-updates
        update-types:
          - 'patch'
          - 'minor'
    ignore:
      - dependency-name: '@types/*'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: 'chalk'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: 'ember-cli'
        update-types:
          - 'version-update:semver-minor'
          - 'version-update:semver-major'
      - dependency-name: 'ember-source'
        update-types:
          - 'version-update:semver-minor'
          - 'version-update:semver-major'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'sunday'
    labels:
      - 'dependencies'
      - 'internal'
    groups:
      version:
        patterns:
          - '*'
        applies-to: version-updates
