####################
# super strict mode
####################
auto-install-peers=false
strict-peer-dependents=true
resolve-peers-from-workspace-root=false

# Require only one version of ember-source to be installed
# (and it will be installed at the workspace root)
dedupe-peer-dependents=true
public-hoist-pattern[]=ember-source

resolution-mode=highest
