{{page-title "@nrg-ui/core"}}

<div class="min-vh-100 d-flex flex-column">
  {{! TODO: Add header/sidebar }}
  <main>
    <div class="position-absolute end-0 pt-2">
      <ThemeSwitcher />
    </div>
    {{outlet}}
  </main>
  {{! TODO: Add footer }}
</div>