dialog {
  --bs-modal-bg: var(--bs-body-bg);
  --nrg-modal-transition-duration: 0.3s;

  background-color: var(--bs-modal-bg);
  transition: all var(--nrg-modal-transition-duration) ease allow-discrete;
  overflow: visible !important;

  // `ember-css-transitions` uses `getComputedStyle` to determine
  // the length of the transition/animation. We need to match the
  // transition duration on the .modal-content element in order
  // for the closing animation to render correctly.
  & .modal-content {
    transition-duration: var(--nrg-modal-transition-duration);
  }

  &.center {
    max-height: 90vh;
    width: 90vw;
    max-width: 950px;
    min-width: 200px;

    opacity: 0; // Animation end for close
    transform: translate3d(0, 10vh, 0);
  }

  &.left {
    margin: 0 auto 0 0;
    height: 100vh;
    max-height: 100vh;
    width: 400px;
    max-width: 100vw;

    transform: translate3d(-100%, 0, 0); // Animation end for close
  }

  &.right {
    margin: 0 0 0 auto;
    height: 100vh;
    max-height: 100vh;
    width: 400px;
    max-width: 100vw;

    transform: translate3d(100%, 0, 0); // Animation end for close
  }

  &.center.subtle {
    width: 50vw;
    max-width: 500px;
    .btn-close {
      background-color: var(--bs-light);
      opacity: 0.5;
    }
  }

  &.subtle {
    background-color: transparent;
    color: var(--bs-light);
    .modal-content {
      background-color: transparent;
    }
  }

  &::backdrop {
    transition: all var(--nrg-modal-transition-duration) ease allow-discrete;

    background: rgba(0, 0, 0, 0); // Animation end for close
  }

  &[open] {
    // Animation end for open, animation start for close
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &::backdrop {
      background: rgba(0, 0, 0, 0.85);
    }

    &.inactive::backdrop {
      background: transparent;
    }
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px var(--bs-btn-close-color);
    cursor: pointer;
  }
}

/* Animation start for open
 * Needs to be after the previous dialog[open] rule to take effect,
 * as the specificity is the same
 */
@starting-style {
  dialog[open] {
    &.center {
      opacity: 0;
      transform: translate3d(0, 10vh, 0);
    }

    &.right {
      transform: translate3d(100%, 0, 0);
    }

    &.left {
      transform: translate3d(-100%, 0, 0);
    }

    &::backdrop {
      background: rgba(0, 0, 0, 0);
    }
  }
}

@media (prefers-reduced-motion) {
  dialog {
    transition: all 0s ease allow-discrete;

    &::backdrop {
      transition: all 0s ease allow-discrete;
    }
  }
}
