:root {
  --app-bar-height: 3rem;
}

:target,
h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: calc(var(--app-bar-height, 3rem) + 0.25rem);
}

.full-height {
  height: 100vh;
  min-height: 100vh;
}

.application {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  margin-top: 0;
  min-height: 100vh;

  .app-bar-container ~ & {
    height: calc(100dvh - var(--app-bar-height));
    min-height: calc(100dvh - var(--app-bar-height));
    margin-top: var(--app-bar-height);

    &:has(+ footer) {
      height: calc(100dvh - var(--app-bar-height) - var(--footer-height));
      min-height: calc(100dvh - var(--app-bar-height) - var(--footer-height));
    }
  }

  &:has(+ footer) {
    height: calc(100dvh - var(--footer-height));
    min-height: calc(100dvh - var(--footer-height));
  }
}

.sidebar {
  --sidebar-width: 100%;
  --sidebar-left: 1rem;

  border-radius: 0;
  max-width: var(--sidebar-width);
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  height: 100%;

  & > .list-group {
    padding: var(--bs-list-group-item-padding-y) 0;

    & > .list-group-item {
      border-radius: 0;
    }

    &.footer {
      border-top-width: var(--bs-list-group-border-width);
      border-radius: 0;
    }
  }

  .item.list-group-item {
    --bs-list-group-item-padding-y: 0.25rem;
    --bs-list-group-item-padding-x: 0.5rem;

    border: 0;

    & > span:not(.badge) {
      @extend .rounded;

      padding: 0 var(--bs-list-group-item-padding-x);
    }

    &.active {
      background: 0;

      & span:first-child {
        background-color: rgba(var(--bs-primary-rgb), 0.25);
        color: var(--bs-body-color);
      }
    }

    &.header {
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    &:not(.header) {
      padding-left: calc(2 * var(--bs-list-group-item-padding-x));
    }

    &:hover .external-icon {
      display: block;
    }
  }

  & .badge {
    @extend .rounded-pill;

    background-color: var(--bs-primary);
    color: var(--bs-badge-color);
    margin-left: var(--bs-list-group-item-padding-x);
  }

  & .external-icon {
    display: none;
  }
}

.app-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: var(--app-bar-height);
  z-index: 1021;

  .app-bar {
    height: 100%;

    .dropdown-menu {
      --bs-dropdown-padding-y: 0;
    }
  }

  .environment-title {
    color: var(--bs-danger);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0.5rem;
    text-transform: uppercase;
  }
}
