.full-height {
  height: 100vh;
  min-height: 100vh;
}

.sidebar {
  @extend .card;

  --sidebar-width: 400px;
  --sidebar-padding-y: 0.5rem;
  --sidebar-padding-x: 1rem;
  --sidebar-left: 1rem;

  border-radius: 0;
  max-width: var(--sidebar-width);
  height: 100vh;
  min-height: 100vh;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  // border-width: 0 inherit 0 0;

  .item > .header,
  .item > .list-group-item {
    &.header {
      @extend .card-header;
    }

    border: 0;
    border-radius: 0;
    padding: var(--sidebar-padding-y) var(--sidebar-padding-x);
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .item > .list-group-item {
    padding-left: var(--sidebar-left);
  }
}

// .sidebar {
//   width: 200px;
//   padding: 0.5em;
//   border-right: 1px solid var(--bs-body-color);
// }

// .sidebar-group > ul > li {
//   padding-left: 1em;
// }

// .sidebar > ul > li {
//   margin-bottom: 1em;
// }

// .sidebar-item a {
//   color: var(--bs-body-color);
//   text-decoration: none;
// }

// .sidebar-item a:hover {
//   background-color: var(--bs-primary-bg-subtle);
// }

// .sidebar-item a.active {
//   font-weight: bold;
// }
