{{page-title "Modifiers"}}

<div class="row g-0">
  <Sidebar as |Sidebar|>
    <Sidebar.Group @header="Modifiers">
      <:group as |Item|>
        <Item @route="modifiers.on-click-outside">
          on-click-outside
        </Item>
        <Item @route="modifiers.on-destroy">
          on-destroy
        </Item>
        <Item @route="modifiers.on-insert">
          on-insert
        </Item>
        <Item @route="modifiers.on-update">
          on-update
        </Item>
      </:group>
    </Sidebar.Group>
  </Sidebar>
  <div class="col px-md-0 py-3">
    {{outlet}}
  </div>
</div>