<div class="stacked-page-container container flex-nowrap">
  <div class="stacked-page col-12 col-md-6 col-lg-4">
    <ul class="list-group">
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Long List</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{1}}
      >Item 1</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{2}}
      >Item 2</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{3}}
      >Item 3</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{4}}
      >Item 4</LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-page.selected-item"
        @model={{5}}
      >Item 5</LinkTo>
    </ul>
  </div>

  {{outlet}}
</div>