<StackedPane::Container>
  <StackedPane>
    <ul class="list-group">
      <LinkTo
        class="list-group-item"
        @route="stacked-pane.selected-item"
        @model={{1}}
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Account 1</h5>
          <small>Person Name</small>
        </div>
        <p class="mb-1">Email</p>
        <small>Phone</small>
      </LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-pane.selected-item"
        @model={{2}}
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Account 2</h5>
          <small>Person Name</small>
        </div>
        <p class="mb-1">Email</p>
        <small>Phone</small></LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-pane.selected-item"
        @model={{3}}
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Account 3</h5>
          <small>Person Name</small>
        </div>
        <p class="mb-1">Email</p>
        <small>Phone</small></LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-pane.selected-item"
        @model={{4}}
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Account 4</h5>
          <small>Person Name</small>
        </div>
        <p class="mb-1">Email</p>
        <small>Phone</small></LinkTo>
      <LinkTo
        class="list-group-item"
        @route="stacked-pane.selected-item"
        @model={{5}}
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Account 5</h5>
          <small>Person Name</small>
        </div>
        <p class="mb-1">Email</p>
        <small>Phone</small></LinkTo>
    </ul>
  </StackedPane>
  {{outlet}}
</StackedPane::Container>