@import url("marketing-theme.css");

.grid-collection {
  & .item {
    border: 2px solid var(--bs-primary);
    border-radius: var(--bs-border-radius);

    &:hover {
      background-color: var(--bs-primary-bg-subtle);
    }
  }
}

.popover-block {
  display: flex;
  width: 100%;
  height: 20vh;
  border: 2px solid var(--bs-primary);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-primary-bg-subtle);
  align-items: center;
  justify-content: center;
}

pre.handlebars.simple > span.xml {
  display: none;
}

footer img {
  width: 47px;
  height: 30px;
}
