/* stylelint-disable */
:root,
[data-bs-theme="light"] {
  --bs-orange: #f70;
  --bs-cyan: #057cff;
  --bs-primary: #00447c;
  --bs-info: #057cff;
  --bs-primary-rgb: 0, 68, 124;
  --bs-info-rgb: 5, 124, 255;
  --bs-primary-text-emphasis: #001b32;
  --bs-info-text-emphasis: #023266;
  --bs-primary-bg-subtle: #ccdae5;
  --bs-info-bg-subtle: #cde5ff;
  --bs-primary-border-subtle: #99b4cb;
  --bs-info-border-subtle: #9bcbff;
  --bs-link-color: #00447c;
  --bs-link-color-rgb: 0, 68, 124;
  --bs-link-hover-color: #003663;
  --bs-link-hover-color-rgb: 0, 54, 99;
  --bs-focus-ring-color: rgba(0, 68, 124, 0.25);
}

.table-primary {
  --bs-table-bg: #ccdae5;
  --bs-table-border-color: #a3aeb7;
  --bs-table-striped-bg: #c2cfda;
  --bs-table-active-bg: #b8c4ce;
  --bs-table-hover-bg: #bdcad4;
}

.table-info {
  --bs-table-bg: #cde5ff;
  --bs-table-border-color: #a4b7cc;
  --bs-table-striped-bg: #c3daf2;
  --bs-table-active-bg: #b9cee6;
  --bs-table-hover-bg: #bed4ec;
}

.form-switch .form-check-input:focus,
.form-switch .form-check-input.is-warning:focus:not([disabled]) {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2380a2be'/%3e%3c/svg%3e");
}

.btn-primary {
  --bs-btn-bg: #00447c;
  --bs-btn-border-color: #00447c;
  --bs-btn-hover-bg: #003a69;
  --bs-btn-hover-border-color: #003663;
  --bs-btn-focus-shadow-rgb: 38, 96, 144;
  --bs-btn-active-bg: #003663;
  --bs-btn-active-border-color: #00335d;
  --bs-btn-disabled-bg: #00447c;
  --bs-btn-disabled-border-color: #00447c;
}

.btn-info {
  --bs-btn-bg: #057cff;
  --bs-btn-border-color: #057cff;
  --bs-btn-hover-bg: #2b90ff;
  --bs-btn-hover-border-color: #1e89ff;
  --bs-btn-focus-shadow-rgb: 4, 105, 217;
  --bs-btn-active-bg: #3796ff;
  --bs-btn-active-border-color: #1e89ff;
  --bs-btn-disabled-bg: #057cff;
  --bs-btn-disabled-border-color: #057cff;
}

.btn-outline-primary {
  --bs-btn-color: #00447c;
  --bs-btn-border-color: #00447c;
  --bs-btn-hover-bg: #00447c;
  --bs-btn-hover-border-color: #00447c;
  --bs-btn-focus-shadow-rgb: 0, 68, 124;
  --bs-btn-active-bg: #00447c;
  --bs-btn-active-border-color: #00447c;
  --bs-btn-disabled-color: #00447c;
  --bs-btn-disabled-border-color: #00447c;
}

.btn-outline-info {
  --bs-btn-color: #057cff;
  --bs-btn-border-color: #057cff;
  --bs-btn-hover-bg: #057cff;
  --bs-btn-hover-border-color: #057cff;
  --bs-btn-focus-shadow-rgb: 5, 124, 255;
  --bs-btn-active-bg: #057cff;
  --bs-btn-active-border-color: #057cff;
  --bs-btn-disabled-color: #057cff;
  --bs-btn-disabled-border-color: #057cff;
}

.btn-link {
  --bs-btn-focus-shadow-rgb: 38, 96, 144;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #00447c;
}

.dropdown-menu-dark {
  --bs-dropdown-link-active-bg: #00447c;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #00447c;
}

.accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23001b32' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 68, 124, 0.25);
}

.pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(0, 68, 124, 0.25);
  --bs-pagination-active-bg: #00447c;
  --bs-pagination-active-border-color: #00447c;
}

.progress,
.progress-stacked {
  --bs-progress-bar-bg: #00447c;
}

.list-group {
  --bs-list-group-active-bg: #00447c;
  --bs-list-group-active-border-color: #00447c;
}

.btn-close {
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(0, 68, 124, 0.25);
}

.btn-orange {
  --bs-btn-bg: #f70;
  --bs-btn-border-color: #f70;
  --bs-btn-hover-bg: #ff8b26;
  --bs-btn-hover-border-color: #ff851a;
  --bs-btn-focus-shadow-rgb: 217, 101, 0;
  --bs-btn-active-bg: #ff9233;
  --bs-btn-active-border-color: #ff851a;
  --bs-btn-disabled-bg: #f70;
  --bs-btn-disabled-border-color: #f70;
}

.btn-cyan {
  --bs-btn-bg: #057cff;
  --bs-btn-border-color: #057cff;
  --bs-btn-hover-bg: #2b90ff;
  --bs-btn-hover-border-color: #1e89ff;
  --bs-btn-focus-shadow-rgb: 4, 105, 217;
  --bs-btn-active-bg: #3796ff;
  --bs-btn-active-border-color: #1e89ff;
  --bs-btn-disabled-bg: #057cff;
  --bs-btn-disabled-border-color: #057cff;
}

.btn-outline-orange {
  --bs-btn-color: #f70;
  --bs-btn-border-color: #f70;
  --bs-btn-hover-bg: #f70;
  --bs-btn-hover-border-color: #f70;
  --bs-btn-focus-shadow-rgb: 255, 119, 0;
  --bs-btn-active-bg: #f70;
  --bs-btn-active-border-color: #f70;
  --bs-btn-disabled-color: #f70;
  --bs-btn-disabled-border-color: #f70;
}

.btn-outline-cyan {
  --bs-btn-color: #057cff;
  --bs-btn-border-color: #057cff;
  --bs-btn-hover-bg: #057cff;
  --bs-btn-hover-border-color: #057cff;
  --bs-btn-focus-shadow-rgb: 5, 124, 255;
  --bs-btn-active-bg: #057cff;
  --bs-btn-active-border-color: #057cff;
  --bs-btn-disabled-color: #057cff;
  --bs-btn-disabled-border-color: #057cff;
}
