:root {
  @each $color, $value in $theme-colors {
    --nrg-btn-shade-#{$color}-hover-bg: #{shade-color(
        $value,
        $btn-hover-bg-shade-amount
      )};
    --nrg-btn-shade-#{$color}-hover-border: #{shade-color(
        $value,
        $btn-hover-border-shade-amount
      )};
    --nrg-btn-shade-#{$color}-active-bg: #{shade-color(
        $value,
        $btn-active-bg-shade-amount
      )};
    --nrg-btn-shade-#{$color}-active-border: #{shade-color(
        $value,
        $btn-active-border-shade-amount
      )};

    --nrg-btn-tint-#{$color}-hover-bg: #{tint-color(
        $value,
        $btn-hover-bg-tint-amount
      )};
    --nrg-btn-tint-#{$color}-hover-border: #{tint-color(
        $value,
        $btn-hover-border-tint-amount
      )};
    --nrg-btn-tint-#{$color}-active-bg: #{tint-color(
        $value,
        $btn-active-bg-tint-amount
      )};
    --nrg-btn-tint-#{$color}-active-border: #{tint-color(
        $value,
        $btn-active-border-tint-amount
      )};
  }

  @each $state, $background in $table-variants {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
    $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
    $active-bg: mix($color, $background, percentage($table-active-bg-factor));
    $table-border-color: mix(
      $color,
      $background,
      percentage($table-border-factor)
    );

    --nrg-table-#{$state}-border-color: #{$table-border-color};
    --nrg-table-#{$state}-striped-bg: #{$striped-bg};
    --nrg-table-#{$state}-striped-color: #{color-contrast($striped-bg)};
    --nrg-table-#{$state}-active-bg: #{$active-bg};
    --nrg-table-#{$state}-active-color: #{color-contrast($active-bg)};
    --nrg-table-#{$state}-hover-bg: #{$hover-bg};
    --nrg-table-#{$state}-hover-color: #{color-contrast($hover-bg)};
  }
}
