@import url("marketing-theme.css");

/* The following tag ensures that the footer is always at the bottom of the page (no matter the size of the page content). */
div[data-theme="marketing"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
