@import url("marketing-theme.css");
@import url("freestyle.css");

.grid-collection {
  & .item {
    border: 2px solid var(--bs-primary);
    border-radius: var(--bs-border-radius);

    &:hover {
      background-color: var(--bs-primary-bg-subtle);
    }
  }
}

.popover-block {
  display: flex;
  width: 100%;
  height: 20vh;
  border: 2px solid var(--bs-primary);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-primary-bg-subtle);
  align-items: center;
  justify-content: center;
}

.list-group-item-subheading {
  padding: var(--bs-list-group-item-padding-y), 0 !important;
  margin-bottom: 0;
}

.list-group-item-child-route {
  color: var(--bs-secondary);
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x) !important;
  margin-bottom: 0;
}

.navbar {
  background-color: var(--bs-body-bg);
}
