{{page-title "Components"}}
<div class="row">
  <Sidebar as |Sidebar|>
    <Sidebar.Group @header="Components">
      <:group as |Item|>
        <Item @name="Button" @route="components.button" />
        <Item @name="Card" @route="components.card" />
        <Item @name="Footer" @route="components.footer" />
        <Item @name="Header" @route="components.header" />
        <Item @name="Icon" @route="components.icon" />
        <Item @name="Navbar" @route="components.navbar" />
      </:group>
    </Sidebar.Group>
    <Sidebar.Group @header="Forms">
      <:group as |Item|>
        <Item @name="Form" @route="components.form.index" />
        <Item @name="Checkbox" @route="components.form.checkbox" />
        <Item @name="Checkbox Group" @route="components.form.checkbox-group" />
        <Item @name="Phone Input" @route="components.form.phone-input" />
        <Item @name="Radio Group" @route="components.form.radio-group" />
        <Item @name="Select" @route="components.form.select" />
        <Item @name="Text Area" @route="components.form.text-area" />
        <Item @name="Text Input" @route="components.form.text-input" />
      </:group>
    </Sidebar.Group>
  </Sidebar>
  <div class="col px-md-0 py-3">
    {{outlet}}
  </div>
</div>