{{page-title "Components"}}
<div class="row">
  <Sidebar as |Sidebar|>
    <Sidebar.Group @header="Components">
      <:group as |Item|>
        <Item @name="Button" @route="components.button" />
        <Item @name="Card" @route="components.card" />
        <Item @name="Header" @route="components.header" />
        <Item @name="Icon" @route="components.icon" />
        <Item @name="Navbar" @route="components.navbar" />
      </:group>
    </Sidebar.Group>
    <Sidebar.Group @header="Forms">
      <:group as |Item|>
        <Item @name="Form" @route="components.form" />
        <Item @name="Radio Group" @route="components.radio-group" />
        <Item @name="Select" @route="components.select" />
        <Item @name="Text Area" @route="components.text-area" />
        <Item @name="Text Field" @route="components.text-field" />
        <Item @name="Phone Field" @route="components.phone-field" />
      </:group>
    </Sidebar.Group>
  </Sidebar>
  <div class="col px-md-0 py-3">
    {{outlet}}
  </div>
</div>