{{page-title "Home"}}

<div class="row row-cols-1 row-cols-md-3 g-3 m-3">
  <div class="mb-0">
    <div class="card bg-secondary-subtle text-center">
      <div class="card-body">
        <h5 class="card-title">
          <span class="align-middle">
            Components
          </span>
        </h5>
        <div class="mb-2">
        </div>
        <div class="d-grid col-8 col-md-4 mx-auto">
          <LinkTo class="btn btn-primary fw-semibold" @route="components">
            Go
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
   <div class="mb-0">
    <div class="card bg-secondary-subtle text-center">
      <div class="card-body">
        <h5 class="card-title">
          <span class="align-middle">
            Marketing Components
          </span>
        </h5>
        <div class="mb-2">
        </div>
        <div class="d-grid col-8 col-md-4 mx-auto">
          <LinkTo class="btn btn-primary fw-semibold" @route="mktg-components">
            Go
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-0">
    <div class="card bg-secondary-subtle text-center">
      <div class="card-body">
        <h5 class="card-title">
          <span class="align-middle">
            Helpers
          </span>
        </h5>
        <div class="mb-2">
        </div>
        <div class="d-grid col-8 col-md-4 mx-auto">
          <LinkTo class="btn btn-primary fw-semibold" @route="helpers">
            Go
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-0">
    <div class="card bg-secondary-subtle text-center">
      <div class="card-body">
        <h5 class="card-title">
          <span class="align-middle">
            Modifiers
          </span>
        </h5>
        <div class="mb-2">
        </div>
        <div class="d-grid col-8 col-md-4 mx-auto">
          <LinkTo class="btn btn-primary fw-semibold" @route="modifiers">
            Go
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-0">
    <div class="card bg-secondary-subtle text-center">
      <div class="card-body">
        <h5 class="card-title">
          <span class="align-middle">
            Services
          </span>
        </h5>
        <div class="mb-2">
        </div>
        <div class="d-grid col-8 col-md-4 mx-auto">
          <LinkTo class="btn btn-primary fw-semibold" @route="modifiers">
            Go
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  <div><Radio
      @name="demo"
      @option="1"
      @label="One"
      @binding={{bind this "demo"}}
    />
    <Radio
      @name="demo"
      @option="2"
      @label="Two"
      @binding={{bind this "demo"}}
    /></div>
</div>