{{page-title "Marketing Components"}}
<div class="row">
  <div class="col-12 col-md-3 px-0">
    <div class="p-4 sticky-top">
      <div class="card mx-auto">
        <div class="card-body">
          <div class="list-group">
            <LinkTo
              @route="mktg-components.card"
              class="list-group-item list-group-item-action"
            >
              Card
            </LinkTo>
            <LinkTo
              @route="mktg-components.card-container"
              class="list-group-item list-group-item-action"
            >
              Card Container
            </LinkTo>
            <LinkTo
              @route="mktg-components.faq"
              class="list-group-item list-group-item-action"
            >
              FAQ
            </LinkTo>
            <LinkTo
              @route="mktg-components.header"
              class="list-group-item list-group-item-action"
            >
              Header
            </LinkTo>
            <LinkTo
              @route="mktg-components.promo"
              class="list-group-item list-group-item-action"
            >
              Promo
            </LinkTo>
            <LinkTo
              @route="mktg-components.promo-container"
              class="list-group-item list-group-item-action"
            >
              Promo Container
            </LinkTo>
            <LinkTo
              @route="mktg-components.section-header"
              class="list-group-item list-group-item-action"
            >
              Section Header
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col p-4">
    {{outlet}}
  </div>
</div>