# Because this library needs to be built,
# we can't easily point package.json files at the git repo for easy cross-repo testing.
#
# This workflow brings back that capability by placing the compiled assets on a "dist" branch
# (configurable via the "branch" option below)
name: Publish (unstable)

on:
  push:
    branches:
      - main

jobs:
  push-dist:
    name: Push dist
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Publish `@nrg-ui/core`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-ember
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/ember-core'

      - name: Publish `@nrg-ui/css`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-css
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/design-system'

      - name: Publish `@nrg-ui/standards`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-standards
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/standards'

      - name: Publish `@nrg-ui/app-version`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-app-version
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/app-version'

      - name: Publish `@nrg-ui/code-snippets`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-code-snippets
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/code-snippets'

      - name: Publish `@nrg-ui/showcase`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-showcase
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/showcase'

      - name: Publish `@nrg-ui/theme-generator`
        uses: kategengler/put-built-npm-package-contents-on-branch@v2.1.0
        with:
          branch: unstable-theme-generator
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: 'packages/theme-generator'
